.directory
resources
**/jsconfig.json
*bak
*BAK
.netlify
.hugo_build.lock
.vscode
node_modules
content/recettes/uuid.sh
content/
*.code-workspace
backups
.zed
appwrite
appwrite-ec-dev
docs/*
.vite
.claude

content
public
