.directory
resources
public
**/jsconfig.json
*bak
*BAK
.hugo_build.lock
.vscode
_vendor
node_modules
content/recipe/uuid.sh
*.code-workspace
backups
docs
svelte-app/.vite
*.claude
*.opencode
opencode.json
*.agents
.zed
AGENTS.md
agent
*skills-lock.json
appwrite
appwrite-ec-dev
graphify-out
.serena
 
# dev
# static/app
